#about-container {

    display: grid;
    place-items: center;
    align-content: center;
    min-height: 20vh;
    margin-bottom: 0;
    /* display: flex;
   justify-content: center;
   margin-top: 100px;
   justify-content: center; */
   
 
}




#about-container img {
    width: auto;
    height: 10vh;

}




    /* #about-container {
    width: 100vw;
    display: grid;
    place-items: center;
    align-content: center;
         */
