


#container {
    display: grid;
    grid-template-areas: 
    'header header'
    'hero hero'
    'division division'
    'about about'
    'parrafo parrafo'
    'footer footer'
    'final final';

    
}



 header {
    grid-area: header;
  
 }



 #hero {
    grid-area: hero;
    
 }


 #about {
   grid-area: about;
 }

 #parrafo {
   grid-area: parrafo;
 }
 

 #footer {
   grid-area: footer;
 }


 #final {
   grid-area: final;
 }


  @media screen and (max-width: 600px) {
  #container {
    
    width: 600px; 

}
  }

 /* @media only screen and ( max-width: 1023px) {

  }
 } */